---
// Import necessary modules
import Base from "@layouts/Base.astro";
import apps from "@data/apps.json";
import appStyles from "@styles/apps.module.scss";

// Page properties
const props = {
  title: "Apps",
  description: "Apps for Aluben.",
  favicon: "https://google.com/favicon.ico",
};

// Parse the query parameters
const urlParams = new URLSearchParams(Astro.url.search);
const appUrl = urlParams.get("app");
const proxy = urlParams.get("proxy");
---

<Base {...props}>
  <h1>Apps</h1>

  {
    appUrl ? (
      <div class={appStyles.appViewer}>
        <h2>Now Playing:</h2>
        <iframe
          src={
            proxy === "true"
              ? `/proxy?url=${encodeURIComponent(appUrl)}`
              : appUrl
          }
          class={appStyles.webFrame}
          allowfullscreen
          sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
        />
        <br />
        <a href="/apps" class={appStyles.backButton}>
          Back to App List
        </a>
      </div>
    ) : (
      <ul class={appStyles.appGrid}>
        {apps.map((app) => (
          <li transition:persist class={appStyles.appCard}>
            <a
              href={`?app=${encodeURIComponent(app.url)}&proxy=${app.proxyOn}`}
              class={appStyles.appLink}
            >
              <h2 class={appStyles.appName}>{app.name}</h2>
              <img width="70%" height="100%" src={`@images/${app.image}`} alt={app.name} />
            </a>
          </li>
        ))}
      </ul>
    )
  }
</Base>
