---
import Base from "@layouts/Base.astro";
import baseStyles from "@styles/base.module.scss";
import pluginStyles from "@styles/plugins.module.scss";
import plugins from "@data/plugins.json";

// Properties for the page
const props = {
  title: "Aluben",
  description: "Testing for Aluben.",
  favicon: "https://google.com/favicon.ico",
};
---

<Base {...props}>
  <main class={baseStyles.main}>
    <h1 class={pluginStyles.title}>Aluben Plugin Manager</h1>

    <ul class={pluginStyles.pluginGrid}>
      {
        plugins.map((plugin) => (
          <li class={pluginStyles.pluginCard}>
            <h2 class={pluginStyles.pluginName}>{plugin.name}</h2>
            <p class={pluginStyles.pluginDescription}>
              {plugin.description || "No description available."}
            </p>
            <button
              data-plugin={JSON.stringify(plugin)}
              class={`${pluginStyles.pluginButton} btn-install`}
            ></button>
          </li>
        ))
      }
    </ul>
  </main>
  <script src="@ts/plugins.ts"></script>
</Base>
