---
import Base from "@layouts/Base.astro";
import pluginStyles from "@styles/plugins.module.scss";
import plugins from "@data/plugins.json";

// Properties for the page
const props = {
  title: "Plugins - Aluben",
  description: "Testing for Aluben.",
  favicon: "https://google.com/favicon.ico",
};
---

<Base {...props}>
  <h1 class={pluginStyles.title}>Aluben Plugin Manager</h1>

  <ul class={pluginStyles.pluginGrid}>
    {
      plugins.map((plugin) => (
        <li transition:persist class={pluginStyles.pluginCard}>
          <h2 class={pluginStyles.pluginName}>{plugin.name}</h2>
          <p class={pluginStyles.pluginDescription}>
            {plugin.description || "No description available."}
          </p>
          <button
            data-plugin={JSON.stringify(plugin)}
            class={`${pluginStyles.pluginButton} btn-install`}
          />
        </li>
      ))
    }
  </ul>
</Base>
